{% extends 'onlinelibrary/base.html' %}

{% block title%}
Remove
{% endblock%}

{% block content%}

<p>Are you sure you want to delete "{{bk.title}}" from your Wish List?</p>
<button onclick="window.location.href='http://127.0.0.1:8000/wishlist/{{wl.id}}';" type="button" class="btn btn-danger">Cancel</button>
<br>
<br>

<form action="{% url 'remove_book' bk.id %}" method="POST">
    {% csrf_token %}
    <button type="submit", name="Confirm", class="btn btn-success", value="new">Submit</button>
</form>

{% endblock %}
