{% extends 'onlinelibrary/base.html' %}

{% block title%}
Wish List
{% endblock%}

{% block content%}
<h1>Wish Lists:</h1>


<form  method="post" action="#">

    <button type="submit", nmame="new", class="btn btn-success", value="new">New WishList</button>
    <input type="text", name="new">
    <br></br>
    {% csrf_token %}

<table class="table">
    <thead>
            <th>Name</th>
            <th>Primary</th>
            <th></th>
            <th></th>
    </thead>
        {% for wl in wl %}
        <tr><td><a href="http://127.0.0.1:8000/wishlist/{{wl.id}}">{{wl.name}}</a></td><td><input type="radio", value="{{wl.primary}}", name="primary"></li></div></td><td><a href='{{wl.id}}'>Remove</a></td></tr>
        {% endfor %}
</table>

</form>

{% endblock%}
