{% extends 'onlinelibrary/base.html' %}

{% block title%}
Wish List
{% endblock%}

{% block content%}
<h1>Wish Lists:</h1>

<form  method="post" action="#">
{% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit", name="new", class="btn btn-success", value="new">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 20 20">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>New WishList
            </button>

        </div>
        <input type="text", name="new">
    </div>
    <br>


<table class="table">
    <thead>
            <th>Name</th>
            <th>Primary</th>
            <th></th>
            <th></th>
    </thead>
        {% for wl in wl %}
        <tr><td><a href="http://127.0.0.1:8000/wishlist/{{wl.id}}">{{wl.name}}</a></td>
            <td><input type="radio", value="{{wl.primary}}", name="primary"></input</td>
            <td><a href="{% url 'delete_wishlist' wl.id %}">Delete</a></td></tr>
        {% endfor %}
</table>

</form>

{% endblock%}
