{%  extends 'onlinelibrary/base.html' %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block content %}
<!--    <h2>{{ cart }}</h2>-->
<!--    <h3>{{ note }}</h3>-->
<!--        <form action="#" method="post">-->
<!--            {% csrf_token %}-->
<!--            <ul>-->
<!--                {% for item in cart.shoppingcartitem_set.all %}-->
<!--                        {% if item.savedforlater == False and item.ordered == False and item.quantity > 0 %}-->
<!--                            <li>-->
<!--                                {{ item }}-->
<!--                                <br>-->
<!--                                Price: ${{ item.book.getprice }}-->
<!--                                Quantity: <input type="number" min="0" value={{ item.quantity }} name="updatequantityitemid{{ item.id }}">-->
<!--                                Save For Later: <input type="checkbox" value="clickedsaveforlater" name="clickedsaveforlater{{ item.id }}">-->
<!--                                Delete: <input type="checkbox" value="checkeddelete" name="checkeddelete{{ item.id }}">-->
<!--                            </li>-->
<!--                        {%  endif %}-->
<!--                {% endfor %}-->
<!--                <br>-->
<!--                Subtotal: ${{ total }}-->
<!--            </ul>-->
<!--            <h3>Saved for Later</h3>-->
<!--            <ul>-->
<!--                {% for item in cart.shoppingcartitem_set.all %}-->
<!--                    {% if item.savedforlater == True and item.ordered == False and item.quantity > 0 %}-->
<!--                        <li>-->
<!--                            {{ item }}-->
<!--                            <br>-->
<!--                            Price: ${{ item.book.getprice }}-->
<!--                            Quantity: <input type="number" min="0" value={{ item.quantity }} name="updatequantityitemsavedforlaterid{{ item.id }}">-->
<!--                            Move To Cart: <input type="checkbox" value="checkedmovetocart" name="checkedmovetocart{{ item.id }}">-->
<!--                            Delete: <input type="checkbox" value="checkeddelete" name="checkeddeletesavedforlater{{ item.id }}">-->
<!--                        </li>-->
<!--                    {%  endif %}-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            <button type="submit", name="update", value="update">Update</button>-->
<!--            <button type="submit", name="checkout", value="checkout">Check Out</button>-->
<!--        </form>-->

    <h2>{{cart}}</h2>
    <br>
    <br>
    <table class="table">
        <thead>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Subotal: ${{total}}</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        {% for item in cart.shoppingcartitem_set.all %}
            {% if item.savedforlater == False and item.ordered == False and item.quantity > 0 %}
                <tr>
                    <td>
                        {{ item }}
                    </td>
                    <td>
                        <form action="{% url 'updateqty' item.id%}" method="POST">
                            {% csrf_token %}
                            <input type="number", name="UpdateValue", min="1", width="1", value="{{item.quantity}}">
                            <button type="submit", name="Update", class="btn btn-primary">Update</button>
                        </form>
                    </td>
                    <td>
                        ${{ item.book.getprice }}
                    </td>
                    <td>
                        <button onclick="window.location.href='delete/{{item.id}}';" type="button" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <form action="{% url 'saveforlater' item.id%}" method="POST">
                            {% csrf_token %}
                            <button type="submit", name="SvaeForLater", class="btn btn-primary", value="saveForLater">Save For Later</button>
                        </form>
                    </td>
                </tr>
            {%  endif %}
        {% endfor %}
    </table>
    <br>
    <br>
    <h2>Saved for Later</h2>
    <br>
    <table class="table">
        <thead>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </thead>
        <tfoot>
            <tr>
                <td><strong>Enjoy Shopping!</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        {% for item in cart.shoppingcartitem_set.all %}
            {% if item.savedforlater == True and item.ordered == False and item.quantity > 0 %}
                <tr>
                    <td>
                        {{ item }}
                    </td>
                    <td>
                        <form action="{% url 'updateqty' item.id%}" method="POST">
                            {% csrf_token %}
                            <input type="number", name="UpdateValue", min="1", width="1", value="{{item.quantity}}">
                            <button type="submit", name="Update", class="btn btn-primary">Update</button>
                        </form>
                    </td>
                    <td>
                        ${{ item.book.getprice }}
                    </td>
                    <td>
                        <button onclick="window.location.href='delete/{{item.id}}';" type="button" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <form action="{% url 'movetocart' item.id%}" method="POST">
                            {% csrf_token %}
                            <button type="submit", name="MoveToCart", class="btn btn-primary", value="moveToCart">Move To Cart</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>
<!--    <form method="post">{% csrf_token %}-->
<!--        {{ form.as_p}}-->
<!--        <button type="submit">Update</button>-->
<!--    </form>-->
    <br>
    <br>
    <br>
{%  endblock %}
