{% extends "onlinelibrary/base.html" %}

{% block title %}Account Summary{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<h2>Account Summary</h2>
<br>
<!--    <p>-->
<!--        Username: {{user.username}}-->
<!--        <br>-->
<!--        Email: {{user.email}}-->
<!--        <br>-->
<!--        First Name: {{user.first_name}}-->
<!--        <br>-->
<!--        Last Name: {{user.last_name}}-->
<!--        <br>-->
<!--        Home Address: {{profile.homeAddress}}-->
<!--        <br>-->
<!--        Address: {{profile.address}}-->
<!--    </p>-->

<style>
    #table_summary {
        width: 30%;
    }
    #table_summary th{
        padding: 20px;
    }
</style>

<table id="table_summary" class="table">
    <tr>
        <th>Username:</th>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>First Name:</th>
        <td>{{user.first_name}}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{user.last_name}}</td>
    </tr>
    <tr>
        <th>Primary Address:</th>
        <td>{{profile.homeAddress}}</td>
    </tr>
    <tr>
        <th>Secondary Address:</th>
        <td>{{profile.address}}</td>
    </tr>
</table>
<button onclick="window.location.href='http://127.0.0.1:8000/register/edit';" type="button" class="btn btn-danger">
    Edit
</button>
{% endblock %}
