{%  extends 'onlinelibrary/base.html' %}

{% block title %}
    Payment Information
{% endblock %}

{% block content %}
<br>
<button onclick="window.location.href='http://127.0.0.1:8000/register/add_credit_card_information';" type="button" class="btn btn-success">
    Add Credit Card Information
</button>
<br>
<br>
<table id="table_summary" class="table">
    {% for card in profile.creditcard_set.all %}
        <tr>
            <th>First Name:</th>
            <td>{{card.firstname}}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{card.lastname}}</td>
        </tr>
        <tr>
            <th>Card Number:</th>
            <td>{{card.cardnumber}}</td>
        </tr>
        <tr>
            <th>Expiration Date:</th>
            <td>{{card.expiration}}</td>
        </tr>
        <tr>
            <td>
                <button onclick="window.location.href='http://127.0.0.1:8000/register/edit_credit_card_information/{{card.id}}/{{errormessage}}';" type="button" class="btn btn-primary">
                    Edit
                </button>
                <button onclick="window.location.href='http://127.0.0.1:8000/register/delete_credit_card_information/{{card.id}}';" type="button" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </td>
            <td></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
