.bookTable
{
    display:table;
    border-collapse:collapse;
    table-layout:fixed;
    margin-left: auto;
    margin-right: auto;
}

.bookRow
{
    display:table-row;
}

.headerCell, .bookCell, .bookCell_title
{
    display:table-cell;
    width: 200px;
    text-align:center;
    #white-space: nowrap;
    vertical-align: middle;
    border: solid;
    border-width: thin;

}

.headerCell
{
    background-color: #68836a;
    border-color: #000000;
    color: #ffffff;
    line-height: 4em;
}

.bookCell
{
}

.bookCell_title
{
    padding-left: 20px;
    padding-right: 20px;
}

.bookRow:nth-child(even)
{
    background-color: #e2e9e2;
}

.bookRow:nth-child(odd)
{
    background-color: #aabbab;
}

.rate {
    display: inline-block;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}


.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.filter_rating
{
    font-size: 16px;
    white-space: pre;
    line-height: 2em;

}

.form-control
{
    #display: inline-block;
}

.btn-dark
{
    background-color: #68836a !important;
    border-color: #68836a !important;
}

.btn-dark-outline,
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active
{
    background-color: #39473a !important;
    border-color: #39473a !important;
}