.mt-2 {
    color: #111 ;
}

/*.topnav {*/
/*    position:relative;*/
/*    z-index:50;*/
/*    font-family: Silom ;*/
/*    width: 100% ;*/
/*    height: 90px ;*/
/*    position: fixed ;*/
/*    top: 0 ;*/
/*    background-color: #111 ;*/
/*    overflow-y: hidden ;*/
/*    padding: 20px ;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.topnav a {*/
/*    padding:14px 111px;*/
/*    text-decoration: none;*/
/*    font-family: Silom;*/
/*    font-size: 20px;*/
/*    color: #818181;*/
/*    display: inline;*/
/*}*/

/*.topnav a:hover{*/
/*    color:#f1f1f1;*/
/*}*/

.main{
/*    position:relative;*/
/*    z-index:30;*/
/*    margin-top: 90px;*/
/*    padding: 0px 70px;*/
    margin: 10px;
}

/*.col-8{*/
/*    text-align: center;*/
/*    padding: 0px 10px ;*/
/*}*/


/*.main-content{*/
/*    margin-left: 10px;*/
/*}*/

/* Modify the background color */

.navbar-custom {
    background-color:#68836a;
}
/* Modify brand and text color */

/*button {*/
/*    all: unset;*/
/*    cursor: pointer;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*}*/

/*form {*/
/*  background-color: white;*/
/*  width: 300px;*/
/*  height: 44px;*/
/*  border-radius: 5px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*}*/

/*input {*/
/*  all: unset;*/
/*  font: 16px system-ui;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  padding: 6px 10px;*/
/*}*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
