/*.sidenav {*/
/*    height:100%;*/
/*    width: 190px;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color:#111;*/
/*    overflow-x:hidden;*/
/*    padding-top:20px;*/
/*}*/

/*.sidenav a {*/
/*    padding:6px 8px 6px 16px;*/
/*    text-decoration: none;*/
/*    font-family: Silom;*/
/*    font-size: 20px;*/
/*    color: #818181;*/
/*    display:block;*/
/*}*/

/*.sidenav a:hover{*/
/*    color:#f1f1f1;*/
/*}*/

.mt-2 {
    color: #111 ;
}

.topnav {
    font-family: Silom ;
    width: 100% ;
    height: 60px ;
    position: fixed ;
    z-index: 1 ;
    top: 0 ;
    background-color: #111 ;
    overflow-y: hidden ;
    padding: 20px ;
}

.topnav a {
    padding:14px 111px;
    text-decoration: none;
    font-family: Silom;
    font-size: 20px;
    color: #818181;
    display: inline;
}

.topnav a:hover{
    color:#f1f1f1;
}

.main{
    margin-top: 60px;
    padding: 0px 70px;
}

.col-8{
    text-align: center;
    padding: 0px 10px ;
}


.main-content{
    margin-left: 0px;
}
