<<<<<<< HEAD

/*mine from here down */
=======
>>>>>>> origin/bookDetails
.mt-2 {
    color: #111 ;
}

.topnav {
    position:relative;
    z-index:50;
    font-family: Silom ;
    width: 100% ;
<<<<<<< HEAD
    height: 70px ;
=======
    height: 90px ;
>>>>>>> origin/bookDetails
    position: fixed ;
    top: 0 ;
    background-color: #111 ;
    overflow-y: hidden ;
<<<<<<< HEAD
    padding: 10px ;
    display: flex;
    justify-content: space-evenly;
=======
    padding: 20px ;
    display: flex;
    justify-content: center;
>>>>>>> origin/bookDetails
}

.topnav a {
    text-decoration: none;
    font-family: Silom;
    font-size: 20px;
    color: #818181;
    display: inline;
}

.topnav a:hover{
    color:#f1f1f1;
}

.main{
<<<<<<< HEAD
=======
    position:relative;
    z-index:30;
>>>>>>> origin/bookDetails
    margin-top: 90px;
    padding: 0px 70px;
}

.col-8{
    text-align: center;
    padding: 0px 10px ;
}


.main-content{
    margin-left: 0px;
}

/* Modify the background color */

        .navbar-custom {
            background-color:#68836a;
        }
        /* Modify brand and text color */

        button {
  all: unset;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

form {
  background-color: white;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}